body{
    background:url(mypage.jpeg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
mod{
	border:black 2px solid;
	padding:25px;
	margin:30px;
	text-align:center;
	font-family:"Lucida Console";
	font-size:20px;
	height:10%;
	width:40%
}
